<div class="container">
	<div class="row">
		<div class="col-md-12">

			<!-- Multi product selector -->
			<p>
				<p>Select products to compare:</p>
				<div ng-dropdown-multiselect="" options="example1data" selected-model="example1model"></div>
			</p>

			<!--  Products container -->
			<div class="row">
				<div class="col-md-12">
					<div class="container">
						<div class="row">

							<!-- Product column -->
							<div class="col-md-3 text-center" ng-repeat="product in products" ng-show="isSelected(product.id)">
								<p class="lead" ng-bind="product.name"></p>
								<img ng-src="{{'/img/'+product.img}}" alt="" width="100%"/>
								<p ng-bind="product.categories.join(', ')"></p>
								<div ng-repeat="(name,rates) in product.rates" class="well">
									<strong ng-bind="name"></strong>
									<p class="lead"><span ng-bind="rates.rate"></span>% for up to</p>
									<strong><span ng-bind="rates.period"></span> months</strong>
									<small>(<span ng-bind="rates.fee"></span>% handling fee)</small>
								</div>
								<br>
								<p ng-bind="product.info"></p>
								<a ng-href="/#/product/{{ product.id }}" class="btn btn-success">More Info</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
